
header{
  position: absolute;
  z-index: 10;
  width: 100%;
}
.navbar{
  padding:20px 0;
  
}
.navbar-brand{
  display: flex;
  align-items: center;
  color: white;

  font-weight: 700;
  
}

.nav-item{
  font-weight: 800;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background:#114694;
  color: #fff;
  
} 
.navbar-light .navbar-nav .nav-item .nav-link{
  color: #4682b4;
  padding:5px 15px;

}
.navbar-toggler{
  border: none;
  color: #fff;
  border:2px solid #fff;
  border-radius: 10px;
  outline:none;
  
}
a.navbar-brand:hover{
  color: #fff;
}
.navbar>.container-fluid{
  margin: 0px 30px 0px 30px;
}

@media screen and (max-width: 768px) { 
.navbar-collapse{
 background: #fff;  
}   
}
@media screen and (max-width: 995px) {

 .navbar-collapse{
  background: 	#fff;
}   
}
@media screen and (max-width: 1279px) {
.nav-item{background:#89cff0;
  color: #fff;}

}
/* ---------------------------coro-------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,#alum-sect{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#alum-sect{
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-align: center; */
      /* -ms-flex-align: center; */
          /* align-items: center;
  -webkit-box-pack: center; */
      /* -ms-flex-pack: center; */
          justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  -webkit-transition: background .4s ease-in;
  transition: background .4s ease-in;
  height: 100vh;
  margin-top: 89px;
 
}


input[type=radio] {
  display: none;
}

.alumini-card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  cursor: pointer;
}

.alumini-container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 480px) {
  .alumini-container{
    max-height: 300px;
  }
  #alum-sect{
    height: 50vh;
  }
  .background--custom{
    display: none;
  }
  body{
    background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  }
  
}

.alumini-cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.alumini-card img {
   width: 106%;
    height: 70%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

#item-1:checked ~ .alumini-cards #song-3, #item-2:checked ~ .alumini-cards #song-1, #item-3:checked ~ .alumini-cards #song-2 {
  -webkit-transform: translatex(-40%) scale(0.8);
          transform: translatex(-40%) scale(0.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .alumini-cards #song-2, #item-2:checked ~ .alumini-cards #song-3, #item-3:checked ~ .alumini-cards #song-1 {
  -webkit-transform: translatex(40%) scale(0.8);
          transform: translatex(40%) scale(0.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .alumini-cards #song-1, #item-2:checked ~ .alumini-cards #song-2, #item-3:checked ~ .alumini-cards #song-3 {
  -webkit-transform: translatex(0) scale(1);
          transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .alumini-cards #song-1 img, #item-2:checked ~ .alumini-cards #song-2 img, #item-3:checked ~ .alumini-cards #song-3 img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
          box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

#item-2:checked ~ .player #test {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#item-2:checked ~ .player #test {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

#item-3:checked ~ .player #test {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}
/*# sourceMappingURL=carouselstyle1.css.map */

/*---------------------teams----------------*/
 /* ------------core yeam heading css---------- */
  
  
 #core-team-h1{
  font-family: sans-serif;
  margin: 30px auto;
  text-align: center;
  font-size: 40px;
  max-width: 600px;
  position:relative;
  
  }
 
  #core-team-h1:after{
  content: "";
  display:block;
  width: 120px;
  height:5px;
  background: rgb(37, 38, 77);
  position: absolute;
  
  right: 40%;
  top: 110%;
  z-index: -2;
  }

/* ----------------------------------------------------------- */
#core-team-h1{
  font-family: sans-serif;
  margin: 30px auto;
  text-align: center;
  font-size: 40px;
  max-width: inherit;
  position:relative;
  display: flex;
justify-content: center;
margin: 11px 0px 26px 0px;
margin-top:-50px;

  
  }
 
  #core-team-h1:after{
  content: "";
  display:block;
  width: 120px;
  height:5px;
  background: rgb(37, 38, 77);
  position: absolute;
  
  right: 40%;
  top: 110%;
  z-index: -2;
  }

.team-box{
  /* width: 1200px; */
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  /* margin: 0 auto; */
  padding: 24px;
  justify-content: space-around;
  margin-bottom: 42px !important;
}
.card-struct{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card{
  position: relative;
  width: 222px;
    height: 324px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
  
  margin: 0px auto 30px auto;

}
.team-card:before,
.team-card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.team-card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.team-card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.team-card .team-imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.team-card:hover .team-imgBx
{
  bottom: 80px;
}

.team-card .team-imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-card .team-details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.team-card .team-details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.team-card .team-details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 

 .team-details a{
   text-decoration: none;
   color: black;
 }
/*----------pocoloco gradient-----------*/
path {
  transform-origin: 50% 0%;
}
.background--custom {
  background-color: #42B3F5;
  position: fixed;
  width: 100vw;
  height: 250%;
  z-index: -1;
  top: 0;
  left: 0;
}

@keyframes path0 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes path1 {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes path2 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}



/* ----------------------------------------- */